<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

<form class="form-2" id="login_data" method="post" action="/student/home/">
    <h1 align="center">
        <!-- <span style="color:blue"> SAAS </span> -->
        <span class="log-in">Sign-in</span>
    </h1>

    <p class="float">
        <label for="login"><i class="fa fa-user"></i>Username</label>
        <input id="username" type="text" name="username" placeholder="Username">
    </p>

    <p class="float">
        <label for="password"><i class="fa fa-lock"></i>Password</label>
        <input id="password" type="password" name="password" placeholder="Password" class="showpassword">
    </p>

    <p class="clearfix">
        <input id="btn_submit" type="submit" value="Log In">
        <input id="btn_submit_reg" type="submit" value="Register">
    </p>
</form>

</body>
</html>