{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Student</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
{% if user.is_authenticated %}
<body>
<!-- <marquee><h1>{{ name }}</h1></marquee> -->
<table>
	<thead>
		<tr>
			<th>Student Name</th>
			<th>Student DOB</th>
			<th>Department</th>
			<th>Course</th>
			<th>Year</th>
		</tr>
	</thead>
	<tbody> 
		{% for r in data %}
		<tr>
			<td> {{ r.student_name }} </td>
			<td> {{ r.dob }} </td>
			<td> {{ r.dept }} </td>
			<td> {{ r.course }} </td>
			<td> {{ r.year }} </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</body>
{% else %}
{% url 'student_data' %}
{% endif %}
</html>